{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<div class="columns is-centered">
    <div class="column is-half">
        <div class="block">
            <div class="card">
                <div class="card-content">

                        <h1 style="color: blue;">Page Currently under  construction</h1>
                        <hr>
                            <p style="color: rgb(41, 6, 240);">We sincerely appologize for any incovinience 
                                this might have caused you..
                                Our team is currently working 
                        <hr>
                            </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}